.row {
	padding-left: 1rem;
}
.row__posters::-webkit-scrollbar {
	display: none;
}

.row__posters {
	display: flex;
	overflow-y: hidden;
	overflow-x: auto;
	padding: 1rem;
}

.row__poster {
	cursor: pointer;
	width: 100%;
	margin-right: 0.8rem;
	max-height: 150px;
	object-fit: contain;

	transition: transform 0.5s;
}

.large {
	max-height: 250px;
}

.row__poster:hover {
	transform: scale(1.05);
}
